body, html {
    background-image: url("/images/musician.jpeg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    color: whitesmoke;
    font-family: sans-serif;
}
header{
    background-color: #080D10;
    color: whitesmoke;
    padding: 10px 0;
}
.button {
    font-family: sans-serif;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    color: whitesmoke;
    border: none;
    text-decoration: none;
}
.social-media{
    background: #080D10;
    padding: 20px;
}
.content{
    min-height: 100%
}
nav ul{
    list-style: none;
    text-align: center;
}
nav ul li{
    display: inline;
    margin: 0 20px;
}
nav a{
    text-decoration: none;
}
#programmer-text {
    border: 2px solid #D35F20ff;
    padding: 20px;
    background: #080D10;
    text-align: left;
    float: left;
    max-width: 300px;
    height: auto;
    max-height: calc(100vh - 60px);
    margin: 10px;
}
#recital-site{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    max-width: 35%;
    text-decoration: none; /* Remove the default underline */
    color: inherit;        /* Inherit the text color from the parent */
    font-weight: inherit;

}
h2{
    font-weight: bold;
    text-shadow: 0 0 4px black;
}
audio {
    display: block;
    margin: 20px auto;
    color: #080D10;

}
p{
    margin: 10px;
    font-size: small;
    text-align: center;
    text-shadow: 0 0 4px black;

}
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%; /* Make the footer span the full width of the viewport */
    background-color: #080D10; /* Set a background color for the footer */
    color: whitesmoke; /* Text color for the footer */
    padding: 10px 0; /* Add padding to the footer as needed */
}