/* Common styles for all screen sizes */
body, html {
    background-image: url("/images/Screen Shot 2023-10-28 at 9.17.15 AM.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    color: whitesmoke;
    font-family: sans-serif;
}

header {
    background-color: #080D10;
    color: whitesmoke;
    padding: 10px 0;
}

.button {
    font-family: sans-serif;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    color: whitesmoke;
    border: none;
    text-decoration: none;
}

.social-media {
    background: #080D10;
    padding: 20px;
}

.content {
    min-height: 100%;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
}

#programmer-text {
    border: 2px solid #D35F20ff;
    padding: 20px;
    background: #080D10;
    text-align: left;
    float: left;
    max-width: 300px;
    height: auto;
    max-height: calc(100vh - 60px);
    margin: 10px;
}

#recital-site {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    max-width: 35%;
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

p {
    margin: 10px;
    float: left;
    font-size: small;
    text-align: left;
    text-shadow: 0 0 10px black;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #080D10;
    color: whitesmoke;
    padding: 10px 0;
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
    p {
        font-size: 16px; /* Adjust the font size for smaller screens */
        float: none; /* Remove float to stack on smaller screens */
        text-align: center; /* Center the text on smaller screens */
    }

    #programmer-text {
        float: none; /* Remove float to stack on smaller screens */
        max-width: 100%; /* Take full width on smaller screens */
    }

    #recital-site {
        float: none; /* Remove float to stack on smaller screens */
        max-width: 100%; /* Take full width on smaller screens */
    }

    footer {
        position: static; /* Remove absolute positioning for smaller screens */
    }
}

