body, html {
    background-image: url("/images/Page2.jpg");
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}
header{
    background-color: #080D10;
    color: whitesmoke;
    padding: 10px 0;
}
.button {
    font-family: sans-serif;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    color: whitesmoke;
    border: none;
    text-decoration: none;
}
.social-media{
    background: #080D10;
    padding: 20px;
}
.content{
    min-height: 100%
}
nav ul{
    list-style: none;
    text-align: center;
}
nav ul li{
    display: inline;
    margin: 0 20px;
}
nav a{
    text-decoration: none;
}
